body {
  text-align: center;
  font-family: "Helvetica", sans-serif;
}

.background {
  color: white;
  background-image: url("../images/the-flatiron-building.png")
}

.background a {
  color: white;
}
